* {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 24px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 650px;
  height: 650px;
}

.circle {
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 0 3px white;
}

.overlay-circle {
  z-index: 100;
  position: absolute;
  width: 600px;
  height: 600px;
  pointer-events: none;
}

.circle.base {
  width: 600px;
  height: 600px;
  background-color: #f7f6f6;
}

.circle.six {
  position: relative;
  width: 600px;
  height: 600px;
}

.circle.five {
  width: 500px;
  height: 500px;
}

.circle.four {
  width: 405px;
  height: 405px;
}

.circle.three {
  width: 315px;
  height: 315px;
}

.circle.two {
  width: 230px;
  height: 230px;
}

.circle.one {
  width: 150px;
  height: 150px;
}

.circle.middle {
  width: 75px;
  height: 75px;
  z-index: 101;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c5e0b4;
}

.segment {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 50%, 100% 0, 100% 50%);
  transform-origin: 50% 50%;
}

.overlay-segment {
  position: absolute;
  width: 50%;
  height: 3px;
  background-color: white;
  top: 50%;
  left: 50%;
  transform-origin: 0 0;
}

.overlay-segment:nth-child(1),
.segment.rest-and-relax {
  transform: rotate(22.5deg);
}

.overlay-segment:nth-child(2),
.segment.eat-well {
  transform: rotate(67.5deg);
}

.overlay-segment:nth-child(3),
.segment.move-more {
  transform: rotate(112.5deg);
}

.overlay-segment:nth-child(4),
.segment.lift-your-spirits {
  transform: rotate(157.5deg);
}

.overlay-segment:nth-child(5),
.segment.connect {
  transform: rotate(202.5deg);
}

.overlay-segment:nth-child(6),
.segment.practical-matters {
  transform: rotate(247.5deg);
}

.overlay-segment:nth-child(7),
.segment.mind-and-emotions {
  transform: rotate(292.5deg);
}

.overlay-segment:nth-child(8),
.segment.physical-comfort {
  transform: rotate(337.5deg);
}

/* Rest & Relax/Connect Purple (#CAC7F2)*/
.segment.rest-and-relax:hover,
.segment.rest-and-relax.selected {
  background-color: #cac7f2;
}
/* Eat Well/Practical Matters Blue (#64DCD2)*/
.segment.eat-well:hover,
.segment.eat-well.selected {
  background-color: #64dcd2;
}
/* Move More Blue (#D2F0F0)*/
.segment.move-more:hover,
.segment.move-more.selected {
  background-color: #d2f0f0;
}
/* Lift Your Spirits Yellow (#FFDC50)*/
.segment.lift-your-spirits:hover,
.segment.lift-your-spirits.selected {
  background-color: #ffdc50;
}
/* Rest & Relax/Connect Purple (#CAC7F2)*/
.segment.connect:hover,
.segment.connect.selected {
  background-color: #cac7f2;
}
/* Eat Well/Practical Matters Blue (#64DCD2)*/
.segment.practical-matters:hover,
.segment.practical-matters.selected {
  background-color: #64dcd2;
}
/* Mind Matters Orange (#FF8B00)*/
.segment.mind-and-emotions:hover,
.segment.mind-and-emotions.selected {
  background-color: #ff8b00;
}
/* Feel Better Pink (#FFE1DF)*/
.segment.physical-comfort:hover,
.segment.physical-comfort.selected {
  background-color: #ffe1df;
}

.questions-container {
  color: black;
  width: 100%;
}
