body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.circle {
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
}

.circle.one {
  position: relative;
  width: 400px;
  height: 400px;
}

.circle.two {
  width: 350px;
  height: 350px;
}

.circle.three {
  width: 300px;
  height: 300px;
}

.circle.four {
  width: 250px;
  height: 250px;
}

.circle.five {
  width: 200px;
  height: 200px;
}

.circle.six {
  width: 150px;
  height: 150px;
}

.circle.seven {
  width: 100px;
  height: 100px;
}

.segment {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 50%, 100% 0, 100% 50%);
  transform-origin: 50% 50%;
}

.segment.one {
  transform: rotate(0deg);
  background-color: #fff2f6;
}
.segment.one:hover {
  background-color: #ffd1dc;
}
.segment.two {
  transform: rotate(45deg);
  background-color: #e9f7ee;
}
.segment.two:hover {
  background-color: #a3e7bf;
}
.segment.three {
  transform: rotate(90deg);
  background-color: #f5f5ff;
}
.segment.three:hover {
  background-color: #e6e6fa;
}
.segment.four {
  transform: rotate(135deg);
  background-color: #fff3e3;
}
.segment.four:hover {
  background-color: #ffdab9;
}
.segment.five {
  transform: rotate(180deg);
  background-color: #e6ecf0;
}
.segment.five:hover {
  background-color: #aec6cf;
}
.segment.six {
  transform: rotate(225deg);
  background-color: #fffff5;
}
.segment.six:hover {
  background-color: #ffff7a;
}
.segment.seven {
  transform: rotate(270deg);
  background-color: #fee3dc;
}
.segment.seven:hover {
  background-color: #f88379;
}
.segment.eight {
  transform: rotate(315deg);
  background-color: #e3d7e3;
}
.segment.eight:hover {
  background-color: #c8a2c8;
}
